{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><b>AdService</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><b>Strona główna</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myAccount"><b>Moje konto</b></a>
      </li>

      {# <li class="nav-item">
        <a class="nav-link" href="/manageUsers"><b>Użytkownicy</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manageCategories"><b>Kategorie</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manageAds"><b>Ogłoszenia</b></a>
      </li> #}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b><font size="3">Zarządzanie</font></b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/manageUsers">Użytkownicy</a>
            <a class="dropdown-item" href="/manageAds">Ogłoszenia</a>
            <a class="dropdown-item" href="/manageCategories">Kategorie</a>
        </div>
    </li>  
      
    </ul>
    <span class="navbar-text">
      Zalogowany jako: <b>{{currentUser.email}}</b> (admin)&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <a class="btn btn-light navbar-btn" href="/logout">Wyloguj</a> &nbsp;&nbsp;
  </div>
</nav>
{% endblock %}