{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><b>AdService</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><b>Strona główna</b></a>
      </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b><font size="3">Ogłoszenia</font></b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Dodaj ogłoszenie</a>
                <a class="dropdown-item" href="/usersAds">Moje ogłoszenia</a>
            </div>
        </li>   
      <li class="nav-item">
        <a class="nav-link" href="/myAccount"><b>Moje konto</b></a>
      </li>
    </ul>
    <span class="navbar-text">
      Zalogowany jako: <b>{{currentUser.email}}</b> (użytkownik)&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <a class="btn btn-light navbar-btn" href="/logout">Wyloguj</a> &nbsp;&nbsp;
  </div>
</nav>
{% endblock %}